<div style="padding-top: 50px;">
  <input type="text" placeholder="Search stories..." [(ngModel)]="searchQuery" (input)="filterStories()" />
  <div *ngIf="filteredStoryList.length; else noStories">
    <div *ngFor="let story of filteredStoryList">
      <h2>{{ story.title }}</h2>
      <p><strong>URL:</strong> <a [href]="story.url">{{ story.url }}</a></p>
    </div>
    <div class="pagination">
      <button (click)="setPage(currentPage - 1)" [disabled]="currentPage === 1">Previous</button>
      <span>Page {{ currentPage }} of {{ totalPages }}</span>
      <button (click)="setPage(currentPage + 1)" [disabled]="currentPage === totalPages">Next</button>
    </div>
  </div>
  <ng-template #noStories>
    <p>No stories found.</p>
  </ng-template>
</div>

 